body
{
margin: auto;
text-align: center;
background-color: rgb(129, 234, 248);
}
.dice1 {
  
height: 400px;
width: 50%;
float: left;
}
.dice2 {
    
    height: 400px;
    width: 50%;
    float: right;
    
    }
.image{
     width: 200px;
     height: 200px;
     margin: auto;
    
}
h1{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    color: darkcyan;
}
p{
    font-size: 60px;
    font-style: oblique;
}